*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu list{
    display: inline-block;
    width: 150px;
    position: relative;
     z-index: 99;  
}
.menu1 list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px;
     padding: 40px;
     border: 30px;
}
.menu .menu1 {
    text-decoration: none;

}
